<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Formulario</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="/css/materialize.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
</head>
<body>
    <header class="blue">
        <nav class="green lighten-1">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">VeggieVital Kitchen</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Inicio</a></li>
                <li><a href="/page1">Menú</a></li>
                <li><a href="/page2">Sobre nosotros</a></li>
                <li><a href="/page3">Sucursales</a></li>
                <li><a href="/form">Contacto</a></li>
            </ul>
          </div>
        </nav>
      </header>

  <main class="container">
    <h2>Formulario De Reservaciones</h2>
    <form id="myForm" action="/form" method="POST">
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre">
      </div>
      <div>
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" id="apellido">
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
      </div>
      <div>
        <label for="telefono">Teléfono:</label>
        <input type="tel" name="telefono" id="telefono" pattern="[0-9]+">
      </div>
      <div>
        <label for="mensaje">Cantidad de Personas:</label>
        <textarea name="mensaje"  id="icon_prefix2" class="materialize-textarea"></textarea>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
      </button>
    </form>
  </main>

  <footer class="green lighten-1 center-align white-text">
    <p>&copy; 2023 My Website. All rights reserved.</p>
  </div>
</footer>

  <script src="/js/script.js"></script>
</body>
</html>
