<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="/css/materialize.min.css">

</head>
<body>
    <header class="blue">
        <nav class="green lighten-1">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">VeggieVital Kitchen</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/">Inicio</a></li>
              <li><a href="/page1">Menú</a></li>
              <li><a href="/page2">Sobre nosotros</a></li>
              <li><a href="/page3">Sucursales</a></li>
              <li><a href="/form">Contacto</a></li>
            </ul>
          </div>
        </nav>
      </header>

      
      <main class="container">
        <div class="banner">
          <img src="/image/fresh-avocado-salad.jpg" alt="Restaurante Saludable">
          <div class="banner-content">
            <h2 class="black-text">Del campo a tu plato</h2>
            <p class="black-text">Bienvenido a VeggieVital Kitchen, donde la deliciosa comida saludable se une con prácticas amigables con el medio ambiente. Nuestro menú cuidadosamente seleccionado está lleno de opciones frescas y nutritivas.</p>
            <a href="/page1" class="btn waves-effect waves-light">Ver Menú</a>
          </div>
        </div>
        <div class="center-align">
          <h4>Reserva Con Nosotros</h4>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="/image/desayuno.jpg" alt="Avocado Toast">
              </div>
              <div class="card-content">
                <span class="card-title">Desayunos Saludables</span>
                <p>Nuestros desayunos están llenos de ingredientes frescos y nutritivos que te proporcionarán la energía necesaria para comenzar el día de la mejor manera.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="/image/salad.jpg" alt="Colorful Salad">
              </div>
              <div class="card-content">
                <span class="card-title">Ensaladas Frescas</span>
                <p>Disfruta de nuestras ensaladas frescas y llenas de color, preparadas con ingredientes de temporada y aderezos deliciosos. Una combinancion de ingredientes frescos desde el campo directo a tu paladar. Todo esto junto a las mejores atenciones siempre pensando en lo mejor para ti y los tuyos.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="center-align">
          <a href="/form" class="btn-large waves-effect waves-light">Hacer una Reservación</a>
        </div>
      </main>
      
    <br>
        <footer class="green lighten-1 center-align white-text">
              <p>&copy; 2023 My Website. All rights reserved.</p>
            </div>
          </footer>
              
  <script src="/js/script.js"></script>
</body>
</html>
