<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="/css/materialize.min.css">
</head>
<body>
    <header class="blue">
        <nav class="green lighten-1">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">VeggieVital Kitchen</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Inicio</a></li>
                <li><a href="/page1">Menú</a></li>
                <li><a href="/page2">Sobre nosotros</a></li>
                <li><a href="/page3">Sucursales</a></li>
                <li><a href="/form">Contacto</a></li>
            </ul>
          </div>
        </nav>
      </header>

      <main class="container">
        <div class="center-align">
          <h2>Nuestro Menú de Platos Saludables</h2>
        </div>
        <div class="row">
          <!-- Plato 1 -->
          <div class="col s12 m4">
            <div class="card small">
              <div class="card-image">
                <img src="/image/ensalada_aguacate.jpg" alt="Ensalada de Aguacate">
              </div>
              <div class="card-content">
                <span class="card-title">Ensalada de Aguacate</span>
              </div>
            </div>
          </div>
          <!-- Agrega más platos aquí -->
          <!-- Plato 2 -->
          <div class="col s12 m4">
            <div class="card small">
              <div class="card-image">
                <img src="/image/Salteado de Vegetales.jpg" alt="Salteado de Vegetales">
              </div>
              <div class="card-content">
                <span class="card-title">Salteado de Vegetales</span>
              </div>
            </div>
          </div>
          <!-- Plato 3 -->
          <div class="col s12 m4">
            <div class="card small">
              <div class="card-image">
                <img src="/image/Bowl de Quinoa.jpg" alt="Bowl de Quinoa">
              </div>
              <div class="card-content">
                <span class="card-title">Bowl de Quinoa</span>
              </div>
            </div>
          </div>
          <!-- Plato 4 -->
          <div class="col s12 m4">
            <div class="card small">
              <div class="card-image">
                <img src="/image/Smoothie Bowl de Frutas.jpg" alt="Smoothie Bowl de Frutas">
              </div>
              <div class="card-content">
                <span class="card-title">Smoothie Bowl de Frutas</span>
              </div>
            </div>
          </div>
          <!-- Plato 5 -->
          <div class="col s12 m4">
            <div class="card small">
              <div class="card-image">
                <img src="/image/Ensalada de Pollo a la Parrilla.jpg" alt="Ensalada de Pollo a la Parrilla">
              </div>
              <div class="card-content">
                <span class="card-title">Ensalada de Pollo a la Parrilla</span>
              </div>
            </div>
          </div>
          <!-- Plato 6 -->
          <div class="col s12 m4">
            <div class="card small">
              <div class="card-image">
                <img src="/image/Tostada de Aguacate.jpg" alt="Tostada de Aguacate">
              </div>
              <div class="card-content">
                <span class="card-title">Tostada de Aguacate</span>
              </div>
            </div>
          </div>
          <!-- Plato 7 -->
          <div class="col s12 m4">
            <div class="card small">
              <div class="card-image">
                <img src="/image/Ensalada de Salmón.jpg" alt="Ensalada de Salmón">
              </div>
              <div class="card-content">
                <span class="card-title">Ensalada de Salmón</span>
              </div>
            </div>
          </div>
          <!-- Plato 8 -->
          <div class="col s12 m4">
            <div class="card small">
              <div class="card-image">
                <img src="/image/Ensalada Griega.jpg" alt="Ensalada Griega">
              </div>
              <div class="card-content">
                <span class="card-title">Ensalada Griega</span>
              </div>
            </div>
          </div>
          <!-- Plato 9 -->
          <div class="col s12 m4">
            <div class="card small">
              <div class="card-image">
                <img src="/image/Hamburguesa Vegana.jpg" alt="Hamburguesa Vegana">
              </div>
              <div class="card-content">
                <span class="card-title">Hamburguesa Vegana</span>
              </div>
            </div>
          </div>
          <!-- Plato 10 -->
          <div class="col s12 m4">
            <div class="card small">
              <div class="card-image">
                <img src="/image/Ensalada de Frutas.jpg" alt="Ensalada de Frutas">
              </div>
              <div class="card-content">
                <span class="card-title">Ensalada de Frutas</span>
              </div>
            </div>
          </div>
        </div>
      </main>
      

  <footer class="green lighten-1 center-align white-text">
    <p>&copy; 2023 My Website. All rights reserved.</p>
  </div>
</footer>

  <script src="/js/script.js"></script>
</body>
</html>
