<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Nosotros</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="/css/materialize.min.css">
</head>
<body>
    <header class="blue">
        <nav class="green lighten-1">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">VeggieVital Kitchen</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Inicio</a></li>
                <li><a href="/page1">Menú</a></li>
                <li><a href="/page2">Sobre nosotros</a></li>
                <li><a href="/page3">Sucursales</a></li>
                <li><a href="/form">Contacto</a></li>
            </ul>
          </div>
        </nav>
      </header>

      <main class="container">
        <div class="center-align">
          <h2>Acerca de Nosotros</h2>
        </div>
        <div class="row">
          <!-- Historia de la Empresa -->
          <div class="col s12">
            <div class="card horizontal">
              <div class="card-image">
                <img src="/image/historia.jpg" alt="Historia de la Empresa">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h4>Historia de la Empresa</h4>
                  <p>Nuestra empresa fue fundada en 20XX con la visión de proporcionar opciones saludables y deliciosas para todos. Comenzamos como un pequeño puesto de comida en un mercado local y, con el apoyo de nuestra comunidad, hemos crecido hasta convertirnos en una referencia en el mundo de la comida saludable.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Misión -->
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <h4>Misión</h4>
                <p>Nuestra misión es promover un estilo de vida saludable al ofrecer opciones de comida fresca y nutritiva. Buscamos inspirar a las personas a tomar decisiones conscientes sobre su alimentación y brindarles platos deliciosos que nutran su cuerpo y alma.</p>
              </div>
            </div>
          </div>
          <!-- Visión -->
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <h4>Visión</h4>
                <p>Nuestra visión es ser el referente en comida saludable y sostenible a nivel mundial. Queremos liderar el cambio hacia una alimentación más consciente y contribuir a la mejora de la salud y el bienestar de las personas y el planeta.</p>
              </div>
            </div>
          </div>
          <!-- Valores -->
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <h4>Valores</h4>
                <ul class="collection">
                  <li class="collection-item">Pasión por la Salud</li>
                  <li class="collection-item">Sostenibilidad Ambiental</li>
                  <li class="collection-item">Calidad y Frescura</li>
                  <li class="collection-item">Comunidad y Conexión</li>
                  <li class="collection-item">Innovación Constante</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </main>
      

  <footer class="green lighten-1 center-align white-text">
    <p>&copy; 2023 My Website. All rights reserved.</p>
  </div>
</footer>

  <script src="/js/script.js"></script>
</body>
</html>
